<div class="col-md-4 offset-md-3">
  <h3 class="display-6">Update Booking Details</h3>
  <form [formGroup]="flightMembers" (ngSubmit)="saveUFlightBooking()">
    <div class="form-group">
      <label for="name"> <strong> Enter Your Name</strong></label>
      <input
        formControlName="name"
        class="form-control"
        type="text"
        placeholder="Enter Your Name ..."
        name="source"
        [(ngModel)]="travel.name"
      />
    </div>
    <span class="indicate" *ngIf="name && name.invalid && name.touched">
      Name Field is required</span
    >
    <div class="form-group">
      <label for="email"> <strong> Enter Your Email</strong></label>
      <input
        formControlName="email"
        class="form-control"
        type="text"
        placeholder="Enter Your Email ..."
        name="email"
        [(ngModel)]="travel.email"
      />
    </div>
    <span class="indicate" *ngIf="email && email.invalid && email.touched">
      Email Field is Mandatory</span
    >
    <div class="form-group">
      <label for="From"> <strong> Update From Location</strong></label>
      <input
        formControlName="source"
        class="form-control"
        type="text"
        placeholder="Enter Your Name ..."
        name="source"
        [(ngModel)]="travel.source"
      />
    </div>
    <span class="indicate" *ngIf="source && source.invalid && source.touched">
      Name Field is required</span
    >

    <div class="form-group">
      <label for="To"> <b>Change Destination</b></label>
      <input
        formControlName="detination"
        type="text"
        placeholder="Drop Loaction.."
        class="form-control"
        name="detination"
        [(ngModel)]="travel.detination"
      />
    </div>
    <span
      class="indicate"
      *ngIf="destination && destination.invalid && destination.touched"
    >
      Destination is required</span
    >
    <div class="form-group">
      <label for="Nop"><strong>Edit Number Passengers</strong></label>
      <input
        formControlName="numberOp"
        type="number"
        placeholder="To date.."
        class="form-control"
        name="numberOp"
        [(ngModel)]="travel.numberOp"
      />
    </div>
    <span
      class="indicate"
      *ngIf="numberOp && numberOp.invalid && numberOp.touched"
      >This field is required</span
    >
    <div class="form-group">
      <label for="Noc"><strong>Edit Date of Travel</strong></label>
      <input
        formControlName="date"
        type="date"
        placeholder="Travel Date..."
        class="form-control"
        name="date"
        [(ngModel)]="travel.date"
      />
    </div>
    <span class="indicate" *ngIf="date && date.invalid && date.touched"
      >This field is required</span
    >
    <button
      [disabled]="flightMembers.invalid"
      type="submit"
      class="btn btn-success"
    >
      Submit
    </button>
  </form>
</div>
