<h2 class="center display-6">Your Booking Details</h2>
<table>
  <thead>
    <tr>
      <th>CustomerName</th>
      <th>Date Of Travel</th>
      <th>To Travel Date</th>
      <th>Name Of The Car</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ car.nameOfCS }}</td>
      <td>{{ car.fromDate }}</td>
      <td>{{ car.toDate }}</td>
      <td>{{ car.nameOfCar }}</td>

      <td>
        <button
          class="btn btn-outline-warning"
          (click)="updateflightBooking(car.id)"
        >
          Edit Details
        </button>
      </td>
      <td>
        <button
          class="btn btn-outline-danger"
          (click)="deleteFlightBooking(car.id)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
<br />
<button id="center" class="btn btn-outline-info" (click)="bookingPage()">
  Click Here To Go To Booking Page
</button>
