<div class="col-md-4 offset-md-3">
  <h3 class="h5">Flight Booking</h3>
  <form [formGroup]="flightMembers" (ngSubmit)="saveTravellers()">
    <div class="form-group">
      <label for="Name"> <strong> Enter Your Name </strong></label>
      <input
        formControlName="name"
        type="text"
        placeholder="Enter Your Name"
        class="form-control"
        name="name"
      />
    </div>
    <span class="colours" *ngIf="name && name.invalid && name.touched">
      Check the Name Field</span
    >
    <div class="form-group">
      <label for="Email"><strong> Enter Your email</strong></label>
      <input
        formControlName="email"
        type="text"
        placeholder="Enter Your Email"
        class="form-control"
        name="email"
      />
    </div>
    <span class="colours" *ngIf="email && email.invalid && email.touched">
      Email is required</span
    >
    <div class="form-group">
      <label for="From"><strong> From Location</strong></label>
      <input
        formControlName="source"
        class="form-control"
        type="text"
        placeholder="Source..."
        name="source"
      />
    </div>
    <span class="colours" *ngIf="source && source.invalid && source.touched">
      Name Field is required</span
    >

    <div class="form-group">
      <label for="To"><strong> Enter Your Destination</strong></label>
      <input
        formControlName="detination"
        type="text"
        placeholder="Destination"
        class="form-control"
        name="detination"
      />
    </div>
    <span
      class="colours"
      *ngIf="destination && destination.invalid && destination.touched"
    >
      Destination is required</span
    >

    <div class="form-group">
      <label for="Nop"><strong> Select N.O Passengers</strong></label>
      <input
        formControlName="numberOp"
        type="number"
        placeholder="No.Of Passengers"
        class="form-control"
        name="numberOp"
      />
    </div>
    <span
      class="colours"
      *ngIf="numberOp && numberOp.invalid && numberOp.touched"
      >This field is required</span
    >
    <div class="form-group">
      <label for="Noc"><strong> Date of Travel </strong></label>
      <input
        formControlName="date"
        type="date"
        placeholder="Travel Date..."
        class="form-control"
        name="date"
      />
    </div>
    <span class="colours" *ngIf="date && date.invalid && date.touched"
      >This field is required</span
    >
    <button
      [disabled]="flightMembers.invalid"
      type="submit"
      class="btn btn-success"
    >
      Submit
    </button>
  </form>
</div>
