<div class="col-md-5 offset-md-3">
  <h2>SignUp</h2>
  <form [formGroup]="signForm" (ngSubmit)="saveEmployee()">
    <div class="form-group">
      <label for="firstname"> Name</label>
      <input
        formControlName="firstName"
        class="form-control"
        type="text"
        id="fname"
        placeholder="Enter Your name.."
        name="firstname"
      />
    </div>
    <span class="error-message" *ngIf="names && names.invalid && names.touched"
      >Name field is required</span
    >

    <div class="form-group">
      <label for="password">Password</label>
      <input
        formControlName="password"
        type="password"
        id="pass"
        placeholder="Password..."
        class="form-control"
        name="password"
      />
    </div>
    <span class="error-message" *ngIf="pass && pass.invalid && pass.touched"
      >Check The Password Field</span
    >

    <div class="form-group">
      <label for="email">Email</label>
      <input
        formControlName="email"
        type="email"
        id="email"
        name="email"
        placeholder="email.."
        class="form-control"
        name="email"
      />
    </div>
    <span class="error-message" *ngIf="mail && mail.invalid && mail.touched"
      >Email field is not Valid</span
    >

    <br />
    <button [disabled]="signForm.invalid" type="submit" class="btn btn-success">
      Submit
    </button>
    <br />
    <br />
    <button
      type="submit"
      class="btn btn-outline-secondary"
      (click)="goToLogin()"
    >
      Click Here To Login
    </button>
  </form>
  <br />
</div>
