<h2 class="center display-6">Your Booking Details</h2>
<button class="btn btn-outline-primary" (click)="goToBookingPage()">
  Click to move to Booking Page
</button>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Source</th>
      <th>Destination</th>
      <th>Passengers</th>
      <th>Date</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ travel.name }}</td>
      <td>{{ travel.email }}</td>
      <td>{{ travel.source }}</td>
      <td>{{ travel.detination }}</td>
      <td>{{ travel.numberOp }}</td>
      <td>{{ travel.date }}</td>

      <td>
        <button
          class="btn btn-outline-warning"
          (click)="updateflightBooking(travel.id)"
        >
          Edit
        </button>
      </td>
      <td>
        <button
          class="btn btn-outline-danger"
          (click)="deleteFlightBooking(travel.id)"
        >
          Delete
        </button>
      </td>
      <!-- <td>
        <button class="btn btn-outline-info" (click)="reviewBooking()">
          Review
        </button>
      </td> -->
    </tr>
  </tbody>
</table>
