<div class="col-md-7 offset-md-2">
  <h2 class="makecenter display-6">CarRental Bookings</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Customer Name</th>
        <th scope="col">From Date</th>
        <th scope="col">To Date</th>
        <th scope="col">Name Of the car</th>

        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let carr of car
            | paginate
              : { itemsPerPage: 4, currentPage: page, totalItems: length }
        "
      >
        <td>{{ carr.nameOfCS }}</td>
        <td>{{ carr.fromDate }}</td>
        <td>{{ carr.toDate }}</td>
        <td>{{ carr.nameOfCar }}</td>

        <td>
          <button
            (click)="viewCarBooking(carr.id)"
            class="btn btn-outline-primary"
          >
            View
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<br />
<div class="pagination makecenter">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
