<div></div>
<nav>
  <marquee direction="right">
    <h1 class="display-4">Welcome To The Travel <br />Booking Platform</h1>
    <h3>Explore Yourself !</h3>
    <h6>Sigup Before Login</h6>
  </marquee>
</nav>
