<div class="col-md-4 offset-md-3">
  <h3 class="display-6">Car rental Booking</h3>
  <form [formGroup]="cardetails" (ngSubmit)="saveCars()">
    <div class="form-group">
      <label for="From"><strong>Customer Name</strong> </label>
      <input
        formControlName="nameOfCS"
        class="form-control"
        type="text"
        placeholder="Enter Your Name ..."
        name="from"
      />
    </div>
    <span
      class="colours"
      *ngIf="nameOfCS && nameOfCS.invalid && nameOfCS.touched"
    >
      Name Field is required</span
    >

    <div class="form-group">
      <label for="To"> <strong>Enter From Date</strong> </label>
      <input
        formControlName="fromDate"
        type="date"
        placeholder="From Date.."
        class="form-control"
        name="to"
      />
    </div>
    <span
      class="colours"
      *ngIf="fromDate && fromDate.invalid && fromDate.touched"
      >From field is required</span
    >

    <div class="form-group">
      <label for="Nop"><strong> Enter to date</strong></label>
      <input
        formControlName="toDate"
        type="date"
        placeholder="To date.."
        class="form-control"
        name="date"
      />
    </div>
    <span class="colours" *ngIf="toDate && toDate.invalid && toDate.touched"
      >To field is required</span
    >
    <div class="form-group">
      <label for="Noc"><strong> Name Of Car</strong></label>
      <input
        formControlName="nameOfCar"
        type="text"
        placeholder="Name of your Car"
        class="form-control"
        name="noc"
      />
    </div>
    <span
      class="colours"
      *ngIf="nameOfCar && nameOfCar.invalid && nameOfCar.touched"
      >This field is required</span
    >

    <br />
    <button [disabled]="cardetails.invalid" class="btn btn-success">
      Submit
    </button>
    <br />
    <br />
  </form>
  <br />
</div>
