<div class="container col-md-6">
  <h1>User Login Page</h1>
  <form [formGroup]="cslist" (ngSubmit)="userLogin()">
    <div style="color: rgb(106, 133, 156)">
      <label class="form-label">Name</label>
      <input
        type="text"
        formControlName="firstName"
        class="form-control"
        placeholder="Enter your name"
        name="name"
      />
    </div>
    <span class="colours" *ngIf="names2 && names2.invalid && names2.touched"
      >This input field is required</span
    >
    <div>
      <label for="password">Password</label>
      <input
        type="password"
        formControlName="password"
        class="form-control"
        placeholder="password"
        name="password"
      />
    </div>
    <span class="colours" *ngIf="pass2 && pass2.invalid && pass2.touched"
      >This input field is required</span
    >
    <br />
    <button type="submit" [disabled]="cslist.invalid" class="btn btn-success">
      Submit
    </button>
    <br /><br />
    <button
      type="submit"
      class="btn btn-outline-warning"
      (click)="gotoSignUp()"
    >
      Click Here To Register
    </button>
  </form>
</div>
