<div class="col-md-4 offset-md-3">
  <p class="display-6">Book Your Bus</p>
  <form [formGroup]="passengerForm" (ngSubmit)="savepassengers()">
    <div class="form-group">
      <label for="From"><strong> Name</strong></label>
      <input
        formControlName="name"
        class="form-control"
        type="text"
        placeholder="Enter Your Name.."
        name="name"
      />
      <span class="colours" *ngIf="name && name.invalid && name.touched"
        >Name Field is required</span
      >
    </div>
    <div class="form-group">
      <label for="Email"><strong> Email</strong></label>
      <input
        formControlName="email"
        class="form-control"
        type="email"
        placeholder="Enter Your Email.."
        name="email"
      />
      <span class="colours" *ngIf="email && email.invalid && email.touched"
        >Name Field is required</span
      >
      <div class="form-group">
        <label for="From"> <strong> Origin</strong></label>
        <input
          formControlName="frm"
          class="form-control"
          type="text"
          placeholder="Enter Pick Up Your Location .."
          name="from"
        />
      </div>
      <span class="colours" *ngIf="fromp && fromp.invalid && fromp.touched"
        >Origin is required</span
      >
    </div>
    <div class="form-group">
      <label for="To"><strong> Destination</strong></label>
      <input
        formControlName="tom"
        type="text"
        placeholder="Enter Your Drop Location"
        class="form-control"
        name="to"
      />
    </div>
    <span class="colours" *ngIf="top && top.invalid && top.touched"
      >Destination is required</span
    >
    <div class="form-group">
      <label for="Nop"><strong> No Of Passengers</strong></label>
      <input
        formControlName="nop"
        type="number"
        placeholder="NO.OF Passengers"
        class="form-control"
        name="nop"
      />
    </div>
    <span class="colours" *ngIf="nopp && nopp.invalid && nopp.touched"
      >This Field is required</span
    >

    <br />
    <input type="submit" class="btn btn-outline-success" />
    <br />
    <br />
  </form>
  <br />
</div>
