<div class="col-md-4 offset-md-3">
  <p class="display-6">Update Your Booking</p>
  <form [formGroup]="cardetails" (ngSubmit)="saveUpdatedCars()">
    <div class="form-group">
      <label for="From"><strong> Name Of the Customer</strong> </label>
      <input
        formControlName="nameOfCS"
        class="form-control"
        type="text"
        placeholder="Enter Your Name ..."
        name="from"
        [(ngModel)]="car.nameOfCS"
      />
    </div>
    <span
      class="error"
      *ngIf="nameOfCS && nameOfCS.invalid && nameOfCS.touched"
    >
      Name Field is required</span
    >

    <div class="form-group">
      <label for="To"> <strong>Enter From Date</strong> </label>
      <input
        formControlName="fromDate"
        type="date"
        placeholder="From Date.."
        class="form-control"
        name="to"
        [(ngModel)]="car.fromDate"
      />
    </div>
    <span class="error" *ngIf="fromDate && fromDate.invalid && fromDate.touched"
      >From field is required</span
    >

    <div class="form-group">
      <label for="Nop"><strong>Enter to date</strong></label>
      <input
        formControlName="toDate"
        type="date"
        placeholder="To date.."
        class="form-control"
        name="date"
        [(ngModel)]="car.toDate"
      />
    </div>
    <span class="error" *ngIf="toDate && toDate.invalid && toDate.touched"
      >This field is required</span
    >
    <div class="form-group">
      <label for="Noc"><strong> Name Of The Car</strong></label>
      <input
        formControlName="nameOfCar"
        type="text"
        placeholder="Car Name.."
        class="form-control"
        name="noc"
        [(ngModel)]="car.nameOfCar"
      />
    </div>
    <span
      class="error"
      *ngIf="nameOfCar && nameOfCar.invalid && nameOfCar.touched"
      >This field is required</span
    >
    <br />
    <input type="submit" class="btn btn-outline-success" />
    <br />
    <br />
  </form>
  <br />
</div>
