/* * {
  margin: 0;
  padding: 0;
}
.main {
  width: 100%;
  background-image: url(../assets/images/BackgroundImage.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
}
.navbar {
  width: 100%;
  height: 15vh;
  margin: auto;
  display: flex;
  align-items: center;
}

nav {
  flex: 1;
  padding-left: 60px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0px 20px;
}
nav ul li a {
  text-decoration: none;
  color: #333;
}
.btn {
  display: inline-block;
  background: white;
  border-radius: 6px;
  padding: 10px 20px;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  box-shadow: 3px;
}
.content h1 {
  font-size: 60px;
  font-weight: 100;
  margin-top: 24px;
  margin-bottom: 15px;
  color: #232d60;
}
.content h2 {
  font-size: 20px;
  text-align: justify;
  color: aliceblue;
} */
