<div class="row">
  <h2 class="center display-6">CustomerProfile</h2>
  <div class="col-md-4"></div>
  <div class="col-md-5">
    <table>
      <thead>
        <tr>
          <th scope="col">FirstName</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let user of employee
              | paginate
                : { itemsPerPage: 7, currentPage: page, totalItems: length }
          "
        >
          <td>{{ user.firstName }}</td>
          <td>{{ user.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4"></div>
</div>

<div class="pagination">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
