<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" id="space">
        <a
          id="text"
          class="nav-link active mx-3"
          aria-current="page"
          href="#"
          routerLink="bus"
          >Bus</a
        >

        <a
          id="text"
          class="nav-link active mx-3"
          aria-current="page"
          href="#"
          routerLink="flight"
          >Flight-Booking</a
        >

        <a id="text" class="nav-link mx-3" href="#" routerLink="showflight"
          >Show All Flights</a
        >

        <a
          id="text"
          class="nav-link active mx-3"
          aria-current="page"
          href="#"
          aria-disabled="true"
          routerLink="car"
          >Car-Booking</a
        >

        <a
          id="text"
          class="nav-link mx-3"
          aria-current="page"
          href="#"
          aria-disabled="true"
          routerLink="showcar"
          >Show Car-Booking</a
        >
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
