<h2 class="center display-6">Show Flight Booking</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Source</th>
      <th>Detination</th>
      <th>Travellers</th>
      <th>Date</th>
      <th>View</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let user of travel
          | paginate
            : { itemsPerPage: 4, currentPage: page, totalItems: totalLength }
      "
    >
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.source }}</td>
      <td>{{ user.detination }}</td>
      <td>{{ user.numberOp }}</td>
      <td>{{ user.date }}</td>
      <td>
        <button class="btn btn-outline-primary" (click)="viewbooking(user.id)">
          View
        </button>
      </td>
    </tr>
  </tbody>
</table>
<br />
<div class="pagination">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
