table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 6px;
}

th {
  background-color: #f2f2f2;
}
.center {
  text-align: center;
}
